<h2>My Tasks:</h2>
<div class ="card-container">
  <% @tasks.each do |task| %>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= link_to task.title, task_path(task), class:"card-title" %></h5>
        <%= link_to task_path(task), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"card-title" do %>
          <i class="fa-solid fa-trash-can"></i>
        <% end %>
      </div>
    </div>
    <%#= link_to task.title, task_path(task) %>
    <%#= link_to "Delete", task_path(task), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>

  <% end %>


<%= link_to create_task_path, class: "back-to" do %>
<i class="fa-solid fa-user-plus"></i>
<% end %>
