<h2>Here Is Your Task:</h2>
<div class="card-container">
<div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= @task.title %></h5>
        <p class="card-title"><%= @task.details %></p>
        <%= link_to edit_task_path do %>
         <i class="fa-solid fa-pen-to-square"></i>
         <% end %>
      </div>
    </div>

<%= link_to "Back to Tasks", tasks_path, class: "back-to" %>
</div>
